@import "~react-image-gallery/styles/scss/image-gallery.scss"

.content
  border-right: 1px solid #e3e3e3
  width: calc((100vw - 60px) / 2)
  height: calc(100vh - 120px)
  padding: 0 30px 0 0
  display: flex
  justify-content: center
  align-items: center
  .content__images
    border-radius: 10px
    overflow: hidden
    box-shadow: 0 8px 13px #cccccc
    .image-gallery
      .image-gallery-content
        .image-gallery-slide-wrapper.bottom
          .image-gallery-bullets
            .image-gallery-bullets-container
              .image-gallery-bullet
                border-radius: 5% !important


